<!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><%= link_to "Home", homes_index_path,:style=>'text-decoration:none'%></li>
                                <li><%= link_to "About Us", about_us_index_path,:style=>'text-decoration:none'%></li>
                                <li><%= link_to "Contact Us", contact_us_index_path,:style=>'text-decoration:none'%></li>
                                <li><%= link_to "Services", '#',:style=>'text-decoration:none'%>
                                    <ul class="dropdown">
                                        <li><%= link_to "Shopping", '#',:style=>'text-decoration:none'%></li>
                                        <li><%= link_to "Fooding", '#',:style=>'text-decoration:none'%></li>
                                        <li><%= link_to "Real Estate", '#',:style=>'text-decoration:none'%></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <div class="section-title">
                            <h2>Discover The Best Services Near You</h2>
                           <!-- <p>The best service package is waiting for you</p>-->
                        </div>
                     </div>
                 </div>
             </div>
            </div>
    </section>
    <!-- Hero Section End -->