<!-- Header Section Begin -->
    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between sticky-top">
  <div class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </div>
  <div class="header__menu collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Home", homes_index_path,:style=>'text-decoration:none', class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About Us", aboutus_index_path,:style=>'text-decoration:none', class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Us", contactus_index_path,:style=>'text-decoration:none', class:"nav-link" %>
      </li>
       <li>
        <%= link_to "Bus Booking Agents", agents_path,:style=>'text-decoration:none', class:"nav-link" %>
      </li>
       <li>
        <%= link_to "Add Listing", listings_new_path,:style=>'text-decoration:none', class:"nav-link" %>
      </li>
     
      
        <li class="dropdown">
            <a id="dLabel" class="nav-link" data-toggle="dropdown"  data-target="#" href="#" style='text-decoration:none'>
                Services <i class="fas fa-caret-down"></i>
            </a>
    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li><a href="http://www.sudurpasal.com/" class="nav-link" style='text-decoration:none'>Shopping</a></li>
              <li><a href="http://www.cheersmnr.com/" class="nav-link" style='text-decoration:none'>Fooding</a></li>
              <li><a href="http://www.cakesmnr.com/" class="nav-link" style='text-decoration:none'>Online Cake</a></li>
            </ul>
        </li>
    </ul>
  </div>
</nav>
    <!-- Navigation -->
    <!-- Header Section End -->   
     <style>
   nav .navbar-nav li a{
	color: black !important;
	}
   </style>