
<div class="container pt-2">
<div class="d-flex justify-content-center h4"><span class="badge badge-pill badge-info">Discover Your MNR</span></div>
 <div class="row">
    <!---------------------------cards for each services of MNRYP------------------------------->
<!---------------------------card---------------------------------------------------->
             <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-2">
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540337/service_mnryp/realestate_kmwpy0.png" />
                            <h6 class="card-title">
                            <%= link_to "Real Estates", realestates_path,:style=>'text-decoration:none' %>
                            </h6>
                     </div>
                </div>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-2">
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540336/service_mnryp/jobs_qfkcwg.png" />
                            <h6 class="card-title">
                            <%= link_to "Job Vacancy", vacancies_path,:style=>'text-decoration:none' %>
                            </h6>
                     </div>
                </div>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-2">
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540013/service_mnryp/bus_ttslqr.png" />
                            <h6 class="card-title">
                            <%= link_to "Ticket Agents", agents_path,:style=>'text-decoration:none' %>
                            </h6>
                     </div>
                </div>
            </div>
    <!-------------------------------------------------------------------------------------------------->
    <!---------------------------card---------------------------------------------------->
             <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-2">
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540013/service_mnryp/bus_ttslqr.png" />
                            <h6 class="card-title">
                            <%= link_to "Bus Schedule", bus_departures_path,:style=>'text-decoration:none' %>
                            </h6>
                     </div>
                </div>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-2">
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540336/service_mnryp/model_yedw8d.png" />
                            <h6 class="card-title  mt-3">
                            <%= link_to "Models Of MNR", models_path,:style=>'text-decoration:none' %>
                            </h6>
                     </div>
                </div>
            </div>
    <!------------------------------------------------------------------------------------------------>
     <!---------------------------card---------------------------------------------------->
             <div class="col col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-2">
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540337/service_mnryp/blooddonation_cuhejd.png" />
                            <h6 class="card-title mt-3">
                            <%= link_to "Blood Donors", donors_path,:style=>'text-decoration:none' %>
                            </h6>
                     </div>
                </div>
            </div>
    <!------------------------------------------------------------------------------------------------>
 </div>
 </div>