
<div class="d-flex justify-content-center h4"><span class="badge badge-pill badge-info">Discover Your MNR</span></div>
 <div class="row">
    <!---------------------------cards for each services of MNRYP------------------------------->
<!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to realestates_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540337/service_mnryp/realestate_kmwpy0.png" />
                            <h6 class="card-title">
                                    Real Estates
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to vacancies_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540336/service_mnryp/jobs_qfkcwg.png" />
                            <h6 class="card-title">
                            Job Vacancy
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to agents_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540013/service_mnryp/bus_ttslqr.png" />
                            <h6 class="card-title">
                            Ticket Agents
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!-------------------------------------------------------------------------------------------------->
    <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to bus_departures_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540013/service_mnryp/bus_ttslqr.png" />
                            <h6 class="card-title">
                            Bus Schedule
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to models_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540336/service_mnryp/model_yedw8d.png" />
                            <h6 class="card-title  mt-3">
                            Models Of MNR
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
     <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to donors_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540337/service_mnryp/blooddonation_cuhejd.png" />
                            <h6 class="card-title mt-3">
                            Blood Donors
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to pet_adoptions_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540337/service_mnryp/petadoption_ktiskw.png" />
                            <h6 class="card-title mt-3">
                            Pet Adoption
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
    <!---------------------------card---------------------------------------------------->
             <div class="col-md-4 col-xs-6 pt-2">
                <%= link_to tourists_path,:style=>'text-decoration:none' do %>
                    <div class="card category-card">
                        <div class="card-body">
                             <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1615540337/service_mnryp/tourist_xedlzp.png" />
                            <h6 class="card-title mt-3">
                            Places In MNR
                            </h6>
                     </div>
                </div>
                <% end %>
            </div>
    <!------------------------------------------------------------------------------------------------>
 </div>
