<% content_for :title, "Notes" %>
 <%= render 'Homepage/navmenu.html.erb' %>
 
 <!----------------------------------for-------------------------------------------------->
 <% department_FU = ["bba","csit","engineering","education","general science","management"] %>
 <div class="row">
<% @universities.each do |university| %>
<div class="col-md-4">
		<div class="tree ">
		<ul>

		<li><span><a style="color:#000; text-decoration:none;" data-toggle="collapse" href="#<%= university.name %>" aria-expanded="true" aria-controls="<%= university.name %>"><i class="collapsed"><i class="fas fa-folder"></i></i>
		<i class="expanded"><i class="far fa-folder-open"></i></i> <%= university.name %></a></span>
		<!---------------------departments- 1--------------------------------------------->
		<div id="<%= university.name %>" class="collapse show">
		<ul>
			<!-------------------loops to generate all departments------------------------>
			
			<% university.university_departments.each do |department| %>
					<li><span class="text-uppercase"><a style="color:#000; text-decoration:none;" data-toggle="collapse" href="#<%= university.name %><%= department.name %>" aria-expanded="false" aria-controls="<%= university.name %><%= department.name %>"><i class="collapsed"><i class="fas fa-folder"></i></i>
					<i class="expanded"><i class="far fa-folder-open"></i></i><%= department.name %></a></span>
					  <ul>
					  	<div id="<%= university.name %><%= department.name %>" class="collapse">
					  	<!---------------------------semesters------------------------------------------------------>
					  	<% @semesters.each do |semester| %>
					    <li>
					    	<span>
					    		<%= link_to notes_notes_index_path(uni:"#{university.name}",dept:"#{department.name}",sem:"#{semester.name}"), style:"color:#000; text-decoration:none;" do %>
					    		<i class="fas fa-folder"></i> <%= semester.name %>
					    		<% end %>
					    	</span>
					      </li>
					      <% end %>
					<!--------------------end semester------------------------------------------------------>
					     </div>
					     
					     <!--------------------end -departments- 1--------------------------------------------->
					  </ul>
					</li>
			<% end %>
					<!-------------end of loops--------------------------------------->
		</ul>
		</div>
		</li>
		</ul>

		</div>
	</div>
<% end %>
</div>
<!-------------------------------------------------------------------------------------------->



