<% content_for :title, "#{@listdetails.name}-MNRYP" %>

<%= render 'Homepage/navmenu.html.erb' %>
<div class="container-fluid">
 <!----------------------------------------breadcrumb section-------------------------------------->
        <div class="row p-3">
            <div class="btn-group btn-breadcrumb breadcrumb-default">
                <a href="<%= root_path %>" class="btn btn-default"><i class="fas fa-home"></i>Home</a>
                <%= link_to "#{@listdetails.tag.title}", :back ,class:"btn btn-default visible-lg-block visible-md-block"%>
                    <a href="#" class="btn btn-default"><%= @listdetails.name %></a>
            </div>
        </div>
        <!------------------------------------------------------------------------------->
      <!--------------------------------------------------------->
             <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center border-right border-secondery">
                        <% if @listdetails.image.present? %>
                            <%= image_tag @listdetails.image_url , :class =>'list-image img-fluid'%>
                        <%end%>  
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-12">
                        <h2>
                            <%= @listdetails.name %>
                        </h2>
                        <p>
                            <span class="badge badge-info">Contact Us</span>
                        </p>
                            <p class="card-text"><i class="fas fa-user-alt"></i>&nbsp;<%= @listdetails.owner %></p>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i>&nbsp;<%= @listdetails.address %></p>
                            <p class="card-text"><i class="fas fa-phone-alt"></i>&nbsp;<%= @listdetails.phone %></p>
                        <p>
                            <span class="badge badge-info">Rating</span>
                            <% @listdetails.comments.average(:rating).to_i.times do %>
                                <span class="fa fa-star checked"></span>
                            <% end %>
                            <% (5-@listdetails.comments.average(:rating).to_i).times do %>
                                <span class="fa fa-star"></span>
                            <% end %>
                        </p>   
                    </div>
    </div>
      <!---------------------------------------------------------->
    <div class="panel panel-default">
    <div class="panel-body"><h4>Our Services</h4><%= @listdetails.description %></div>
    </div>     

    <div class="panel panel-default">      
        <div class=" panel-body"><h4>Our Location</h4></div> 
 <!-----       <div class="container-fluid" id='map' style='width:100%'></div>---->
    </div>
<!---------------------------------------------->
<!---------------form for review --------------->
 <div class="panel panel-default">
  <!----<div class="panel-body"><h4>Review Our Place</h4>
    <% if !user_signed_in? %>
    <%= link_to "Login with Facebook", user_facebook_omniauth_authorize_path %>
    <% end %>--------->
    <% if user_signed_in? %>
        <div id=comment-section>
                <div class="form-group" id="comment">
                    <%= form_for [@list, Comment.new], :remote =>true do |f| %>
                    <div class="rating">
                            <%= f.radio_button(:rating, "5") %> <%= f.label(:rating.to_s + "_5", "Rocks") %> 
                            <%= f.radio_button(:rating, "4") %> <%= f.label(:rating.to_s + "_4", "Pretty good") %> 
                            <%= f.radio_button(:rating, "3") %> <%= f.label(:rating.to_s + "_3", "Meh") %> 
                            <%= f.radio_button(:rating, "2") %> <%= f.label(:rating.to_s + "_2", "Kinda bad") %> 
                            <%= f.radio_button(:rating, "1") %> <%= f.label(:rating.to_s + "_1", "Sucks big time") %>
                    </div>
                    <%= f.text_area :body, placeholder: "Add a comment", class:"form-control" %>
                    <%= f.text_field :name, value: current_user.name, hidden: true %>
                        <div class="text-right pt-2">
                            <%= f.submit "Add Comment" %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body"><h4>Recent Comments</h4>
        <% if @listdetails.comments.count == 0 %>
            <p id="nocomments">No comments yet. Be the first one to review this place.</p>
        <% end %>
            <div id="comments">
                <%= render(partial: "comments/comment", collection: @listdetails.comments.order(created_at: :desc).limit(10)) %>
            </div>
        </div>

<!-----------------------------last div----------------------------------------->
</div>




       <!----------new code added by bhupi-- start --------------------------------->

 
         <div class="container">
              <div class="row">
                <div class="col-xs- 12">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Our Location</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Our Services</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Review The Place</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <div class="container-fluid" id='map' style='width:100%'></div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div><%= @listdetails.description %></div>                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="panel-body"><h4>Recent Comments</h4>
                            <% if @listdetails.comments.count == 0 %>
                                <p id="nocomments">No comments yet. Be the first one to review this place.</p>
                            <% end %>
                                <div id="comments">
                                    <%= render(partial: "comments/comment", collection: @listdetails.comments.order(created_at: :desc).limit(10)) %>
                                </div>
                            </div>                    </div>
                    
                  </div>
                
                </div>
              </div>
        </div>
      </div>
</div>

           
           
         
            
       <!-------------new code added by bhupi --end ------------------------------>

<!-----------------------for openbox map------------------->
<script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibmFyZW40MDQiLCJhIjoiY2tnNHJ2dmQ5MG44azJwbzUyaGJ4YWI2ZyJ9.uqYsTqii1M1UWwAq3mAEhg';
        var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [80.179080,28.963439], // starting position [lng, lat]
        zoom: 13 // starting zoom
        });
        map.scrollZoom.disable();
        
        
    map.on('load', function () {
        map.loadImage(
        'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
        // Add an image to use as a custom marker
        function (error, image) {
        if (error) throw error;
        map.addImage('custom-marker', image);
    
            map.addSource('places', {
            'type': 'geojson',
            'data': {
            'type': 'FeatureCollection',
            'features': [
            {

            'type': 'Feature',
            'properties': {
            'description':
            '<strong><%= @listdetails.name %></strong><p><%= @listdetails.address %></p>'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [<%= @listdetails.longitude %>, <%= @listdetails.lattitude %>]
            }}]}
            });
 
// Add a layer showing the places.
        map.addLayer({
        'id': 'places',
        'type': 'symbol',
        'source': 'places',
        'layout': {
        'icon-image': 'custom-marker'
        }
        });
    }
    );
 
// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
closeButton: false,
closeOnClick: false
});
 
map.on('mouseenter', 'places', function (e) {
// Change the cursor style as a UI indicator.
map.getCanvas().style.cursor = 'pointer';
 
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;
 
// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
// Populate the popup and set its coordinates
// based on the feature found.
popup.setLngLat(coordinates).setHTML(description).addTo(map);
});
 
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
popup.remove();
});
});
</script>

<!-------------------------for star rating----------------------->
<script>
// STAR RATING
function add(ths, sno) {
    for (var i = 1; i <= 5; i++) {
		var cur = document.getElementById("star" + i);
		cur.setAttribute('data-prefix','far');
	}

	for (var i = 1; i <= sno; i++) {
        var cur = document.getElementById("star" + i);
		if (cur.getAttribute('data-prefix') == "far") {
			cur.setAttribute('data-prefix','fas');
		}
        else{
            cur.setAttribute('data-prefix','far');
        }
    }
    var rating=sno;
    alert(sno)
    $.ajax({
    //Your ajax code here to submit from via AJAX. refer jquery site . I gave sample eg.
             url : "Your URL or file name on server",
             data : sno
        });
}
</script>
<!------------------------------------------------------->

