<% content_for :title, "#{@listdetails.name}-MNRYP" %>

<%= render 'Homepage/navmenu.html.erb' %>
<div class="container-fluid">
 <!----------------------------------------breadcrumb section-------------------------------------->
        <div class="row p-3">
            <div class="breadcrumb-default">
                <a href="<%= root_path %>" style="text-decoration: none"><i class="fas fa-home"></i>Home/</a>
                <%= link_to "#{@listdetails.tag.title}", :back,style:"text-decoration: none" %>
                    <a href="#" style="text-decoration: none">/<%= @listdetails.name %></a>
            </div>
        </div>
        <!------------------------------------------------------------------------------->
      <!--------------------------------------------------------->
             <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center border-right border-secondery">
                        <% if @listdetails.image.present? %>
                            <%= image_tag @listdetails.image_url , :class =>'list-image img-fluid'%>
                        <%end%>  
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-12">
                        <h2>
                            <%= @listdetails.name %>
                        </h2>
                        <p>
                            <span class="badge badge-info">Contact Us</span>
                        </p>
                            <p class="card-text"><i class="fas fa-user-alt"></i>&nbsp;<%= @listdetails.owner %></p>
                            <p class="card-text"><i class="fas fa-map-marker-alt"></i>&nbsp;<%= @listdetails.address %></p>
                            <p class="card-text"><i class="fas fa-phone-alt"></i>&nbsp;<%= @listdetails.phone %></p>
                        <p>
                            <span class="badge badge-info">Rating</span>
                            <% @listdetails.reviews.average(:rating).to_i.times do %>
                                <span class="fa fa-star checked"></span>
                            <% end %>
                            <% (5-@listdetails.reviews.average(:rating).to_i).times do %>
                                <span class="fa fa-star"></span>
                            <% end %>
                        </p>   
                    </div>
    </div>
     


       <!----------description section --------------------------------->
 <div class="container-fluid mt-4">
            <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="text-decoration: none">Our Location</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="text-decoration: none">Our Services</a>
            </div>
            </nav>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container-fluid" id='map' style='width:100%'></div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                 <div class="m-4"><%= @listdetails.description %></div>                    
            </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    </div>                    
    </div>
    </div>

    <!---------------form for review --------------->
    <div class="container-fluid">
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :put %>
        <div class="text-md text-mute mt-4">Review This Place</div>
        <div id="comment-section">
        <div class="form-group" id="comment">
            <%= form_with(model: [@list, @list.reviews.build]) do |f| %>
                <div class="rating">
                        <%= f.radio_button(:rating, "5") %> <%= f.label(:rating.to_s + "_5" ) %> 
                        <%= f.radio_button(:rating, "4") %> <%= f.label(:rating.to_s + "_4"  ) %> 
                        <%= f.radio_button(:rating, "3") %> <%= f.label(:rating.to_s + "_3" ) %> 
                        <%= f.radio_button(:rating, "2") %> <%= f.label(:rating.to_s + "_2" ) %> 
                        <%= f.radio_button(:rating, "1") %> <%= f.label(:rating.to_s + "_1" ) %>
                </div><br /><br />
                <div class="row mt-2">
                    <div class="col-4">
                      <%= f.text_field :name, placeholder: "Name", class:"form-control w-50"  %>
                   </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                     <%= f.text_area :comment, placeholder: "Add a comment", class:"form-control w-50" %>
                   </div>
                </div>
                    <div class="pt-2">
                        <%= f.submit "Add Review", class:"btn btn-primary" %>
                    </div>
                <% end %>
            </div>
            <div class="panel-body">
           <h4 class="ml-2">Recent Comments</h4>
            <% if @list.reviews.count == 0 %>
                <p id="nocomments">No comments yet. Be the first one to review this place.</p>
            <% end %>
    </div>
    
        <%= render @list.reviews.order("created_at DESC").limit(10) %>
        </div>
    </div>
    <!------------------------------------------------------------------->

</div>

       <!-------------new code added by bhupi --end ------------------------------>

<!-----------------------for openbox map------------------->
<script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibmFyZW40MDQiLCJhIjoiY2tnNHJ2dmQ5MG44azJwbzUyaGJ4YWI2ZyJ9.uqYsTqii1M1UWwAq3mAEhg';
        var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [80.179080,28.963439], // starting position [lng, lat]
        zoom: 13 // starting zoom
        });
        map.scrollZoom.enable();
        
        
    map.on('load', function () {
        map.loadImage(
        'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
        // Add an image to use as a custom marker
        function (error, image) {
        if (error) throw error;
        map.addImage('custom-marker', image);
    
            map.addSource('places', {
            'type': 'geojson',
            'data': {
            'type': 'FeatureCollection',
            'features': [
            {

            'type': 'Feature',
            'properties': {
            'description':
            '<strong><%= @listdetails.name %></strong><p><%= @listdetails.address %></p>'
            },
            'geometry': {
            'type': 'Point',
            'coordinates': [<%= @listdetails.longitude %>, <%= @listdetails.lattitude %>]
            }}]}
            });
 
// Add a layer showing the places.
        map.addLayer({
        'id': 'places',
        'type': 'symbol',
        'source': 'places',
        'layout': {
        'icon-image': 'custom-marker'
        }
        });
    }
    );
 
// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
closeButton: false,
closeOnClick: false
});
 
map.on('mouseenter', 'places', function (e) {
// Change the cursor style as a UI indicator.
map.getCanvas().style.cursor = 'pointer';
 
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;
 
// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
// Populate the popup and set its coordinates
// based on the feature found.
popup.setLngLat(coordinates).setHTML(description).addTo(map);
});
 
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
popup.remove();
});
});
</script>

<!-------------------------for star rating----------------------->
<script>
// STAR RATING
function add(ths, sno) {
    for (var i = 1; i <= 5; i++) {
		var cur = document.getElementById("star" + i);
		cur.setAttribute('data-prefix','far');
	}

	for (var i = 1; i <= sno; i++) {
        var cur = document.getElementById("star" + i);
		if (cur.getAttribute('data-prefix') == "far") {
			cur.setAttribute('data-prefix','fas');
		}
        else{
            cur.setAttribute('data-prefix','far');
        }
    }
    var rating=sno;
    alert(sno)
    $.ajax({
    //Your ajax code here to submit from via AJAX. refer jquery site . I gave sample eg.
             url : "Your URL or file name on server",
             data : sno
        });
}
</script>
<!------------------------------------------------------->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=2269086783123884&autoLogAppEvents=1" nonce="JrQ7Nv1M"></script>

<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>
<script>

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      console.log("connected to app")
    } else {     
    console.log("Login Failed")                        
  }
  </script>