<% content_for :title, "List of donors-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>
<!------------------herosection card------------------------------------------------------->
<div class="dark">
	<main class="container py-4">
		<div class="h1 text-center" id="pageHeaderTitle">  Blood Donors</div>
		
		<article class="postcard light red">
			<div class="postcard__img_link">
				<img class="postcard__img " src="https://res.cloudinary.com/di7sekeem/image/upload/v1623659655/blood_donors/blood_xvn3cs.jpg" alt="Image Title" />	
			</div>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"> विश्व रक्तदाता दिवस </h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> 
                      <!--- date and time ---------->2021 Jun 14
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
                विश्व रक्तदाता दिवस हरेक वर्ष १४ जुनमा मनाउँछ। रक्तक्षेपणका लागि सुरक्षित रगत र रगत उत्पादनहरूको आवश्यकताको बारेमा विश्वव्यापी चेतना जगाउने र राष्ट्रिय स्वास्थ्य प्रणालीमा स्वैच्छिक, ज्यालाही रक्तदान गर्नेहरूले महत्वपूर्ण योगदान पुर्‍याउनु हो। उक्त दिनले सरकार र राष्ट्रिय स्वास्थ्य अधिकारीहरूलाई काम गर्न आह्वान गर्ने अवसर प्रदान गर्दछ पर्याप्त स्रोतहरू उपलब्ध गराउन र प्रणाली र पूर्वाधारहरू राखेर स्वैच्छिक, गैर-पारिश्रमिक रक्त दाताहरूबाट रगत संकलन वृद्धि गर्न। सुरक्षित रगत र रगत उत्पादनहरू र उनीहरूको स्थानान्तरण हेरचाह र सार्वजनिक स्वास्थ्यको महत्वपूर्ण पक्ष हो। उनीहरूले लाखौंको ज्यान बचाउँछन् र हरेक दिन धेरै बिरामीहरूको स्वास्थ्य र जीवनको गुणवत्ता सुधार गर्दछन्। रगतको आवश्यकता विश्वव्यापी हो, तर रगतमा पहुँच आवश्यक परेकाहरूको लागि यो छैन। रक्त अभाव विशेष गरी विकासशील देशहरूमा तीव्र छ ..!</div>
		</article>
	</main>
</div>

<!---------------------tabs for information about blod and health ----------------------------------------------->
<section class="container">
  <section class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <div role="tabpanel">

            <!-- Nav tabs -->
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class=""><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab" class="btn bg-primary mx-2 my-2 font-weight-bold text-white" > रक्त दान के हो ? </a> </li>
                <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab" class="btn bg-success mx-2 my-2 font-weight-bold text-white">रक्त दान किन गर्ने ?</a></li>
                <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab" class="btn bg-info mx-2 my-2 font-weight-bold text-white"> रक्त दान को महत्व र फाइदा </a></li>
                <li role="presentation"><a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab" class="btn bg-danger mx-2 my-2 font-weight-bold text-white"> तथ्यहरु  </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane " id="tab1">
                    <div class="card mb-3 ">
                    <div class="card-body">
                        <p class="card-text">हरेक दोस्रो सेकेन्डमा कुनै न कुनैलाई रगतको आवश्‍यकता हुन्छ । तपाईको रगत एक समयमा एकभन्दा अधिक जिन्दगी बचाउनमा सहायता गर्छ । दुर्घटनाग्रस्‍त, पीडित, अविकसित नानी, जटिल अपरेसनमा सुतेका बिमारीहरूलाई पुरै रगतको आवश्‍यकता हुन्छ, जहाँ जाँचको पछि तपाईको रगत प्रत्‍यक्ष रूपमा प्रयोग हुन्छ।

                        मानसिक आघात, रगतको कमी र अन्‍य शल्य चिकित्साका लागि बिरामीहरूलाई मात्र रातो रगत कणिकाहरूको आवश्‍यकता हुन्छ जो तपाईको रगतबाट अलग हुन्छ ।
                        पौष्टिक भोजन खाने ।
                        <ul>
                        <li>रक्‍तदान गर्नु भन्दा घ घण्टा पहिले पौष्टिक भोजन खाने ।</li>
                          <li>  रक्‍तदानको पछि दिइने नाश्‍तालाई स्‍वीकार गर्ने किनकि तपाईले त्यो लिन महत्त्वपूर्ण छ। </li>
                          <li> यसको पछि तपाईलाई राम्रो खाना खाने सल्लाह दिइन्छ । </li>

                            <li> रक्‍तदानभन्दा पहिले धूम्रपान नगर्ने। रक्‍तदानको ३ घण्टापछि तपाई धूम्रपान गर्न सक्नु हुन्छ ।</li>

                        यदि ४८ घण्टा पहिले तपाईले एल्‍कोहल लिनु भएको छ भने तपाई रक्‍तदान गर्नका लागि योग्‍य हुनुहुन्न ।
                        </ol>
                        </p>
                    </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                    <div class="card mb-3 ">
                    <div class="card-body">
                        <p class="card-text">रगत त्यो सजीव द्रव्‍य हो जसमा पुरै जीवन टिकेको हुन्छ । यसको ६० प्रतिशत द्रव्‍य र ४० प्रतिशत ठोस हुन्छ । द्रव्‍यलाई प्‍लाज्‍मा भनिन्छ जसमा ९० प्रतिशत पानी र १० प्रतिशत पोषक तत्‍व, हार्मोन इत्‍यादि हुन्छ र यो भोजन दवाईहरू आदिले धेरै छिटो बनाउँछ । तर रगतको ठोस हिस्‍सा, जसमा आरबीसी, डब्‍लूबीसी र प्‍लेटेलेट हुन्छ , त्यसनाई पुनस् बनाउनमा धेरै समय लाग्छ ।

                        यहाँ तपाईको भूमिका बन्दछ, जति समय एक बिरामीलाई यी तत्‍वहरू फिर्ता पाउनमा लाग्नेछ, त्यसमा उसको ज्यान जान सक्छ । कहिले(काही शरीरको अवस्था यिनीहरूलाई फिर्ता लिने स्थितिमा पनि हुँदैन, नाजुक हुन्छ ।

                        तपाई के जान्नु हुन्छ भने रगत उत्पन्न गर्न सकिँदैन, मात्र यसको दान सम्भव छ । अथवा मात्र तपाई त्यो व्‍यक्तिलाई बचाउन सक्नु हुन्छ जसलाई रगतको जरूरत छ ।

                        हरेक वर्ष भारतलाई २५० सीसी रगतको ४ करोड युनिटको जरूरत हुने गर्छ जसमध्ये मात्र ५ लाख युनिट नै उपलब्‍ध हुने गर्छ ।</p>
                    </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab3">
                    <div class="card mb-3 ">
                    <div class="card-body">
                        <p class="card-text"> 
                            <ul>
                                <li>तौल घटाउँन मद्दत गर्छ </li>
                                एक पटक रक्तदान गर्दा ६५० देखि ७०० किलो क्यालोरी घट्न सक्छ । तौल घट्नु–बढ्नु क्यालोरीमा भरपर्छ, यदि क्यालोरी घटेमा तौल पनि घट्छ । यद्यपी, रक्तदान ३ महिनामा एक पटक मात्रै गर्नुपर्छ ।
                                <li>मनको सन्तुष्टि </li>
                                यसमा कुनै शंका छैन, रक्तदान गरेपछि कस्तो मनमा सन्तुष्टि हुन्छ । किनकि, मानव रगतको कुनै विकल्प नै हुँदैन, त्यसैले यो एक महत्वपूर्ण काम पनि हो ।

                                जब तपाई रक्तदान गर्नुहुन्छ, त्यसले ३र४ अलग–अलग बिरामीलाई काम लाग्छ, जसले खुशी र सन्तुष्टिको भाव दिन्छ ।
                                
                                <li class="font-weight-bold"> मुटु स्वस्थ्य रहन्छ</li>
                                धेरैलाई थाहा नहुन सक्छ, नियमित रक्तदान गर्नाले आइरनको मात्रा ठिक रहन्छ । शरीरमा आइरन बढेमा अक्सिडेटिभ खराब हुने गर्छ, जसबाट टिस्यु खराब हुन्छ ।

                                रक्तदान गर्नाले शरीरमा खाली आइरनको मात्रा मात्रै ठिक हुँदैन, मुटुको रोगबाट पनि बचाउँछ ।
                                <li>कलेजोको रोग र क्यान्सरको जाखिम कम </li>
                                यद्यपी, यस्तो कुनै अध्ययन भएको छैन, जसले रक्तदान गर्नाले कलेजो रोग र क्यान्सरको जोखिम कम हुन्छ भन्ने दाबी गर्छ । तर, एक अध्ययनले रक्तदान गर्नाले कलेजोमा राम्रो असर पर्ने देखाएको छ ।

                                कलेजोको कार्य आइरन मेटाबोलिजममा निर्भर गर्छ । रक्तदानले शरीरमा आइरनको मात्रा ठिक हुन्छ र कलेजो खराब हुनबाट बचाउँछ ।
                                <li> </li>
                            </ul>
                        </p>
                    </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab4">
                    <div class="card mb-3 ">
                    <div class="card-body">
                        <p class="card-text">
                            <ul>
                                <li> रगत जीवनलाई बनाइएको राखने द्रव्‍य हो जो शरीरको धमनीहरू, हृदय र नसिकाहरूमा प्रवाहीत भई रहन्छ ।</li>
                                <li>रगतको माध्‍यमले शरीरको भित्र पोषण, इलेक्‍ट्रोलाइट, हार्मोन, भिटामिन, एन्टीबडी, ऊष्‍मा र अक्‍सिजेन पुग्छ ।

                                </li>
                                <li> रगत शरीरबाट अपशिष्‍ट तत्‍व र कार्बनडाई अक्‍साइडलाई निकाल्छ ।

                                </li>
                                <li>रगत संक्रमणसित लड्दछ र घाउलाई सुकाउन मदद गर्छ र यस अनुसार तपाईको स्‍वास्‍थय सही राख्छ ।

                                </li>
                                <li>तपाईको शरीरमा वजनको ७० प्रतिशत रगत हुन्छ ।

                                </li>
                                <li>एक नवजातको शरीरमा करिब एक कप रगत पाइन्छ ।

                                </li>
                                <li>शरीरमा कुनै पनि प्रकारको संक्रमणको खिलाफ सबैभन्दा पहिलो अवरोध श्‍वेत रक्‍त कणिकाहरू नै हुन्छन् ।

                                </li>
                                <li>ग्रेनुलोसाइट नामक श्‍वेत रक्‍त कणिकाहरू रक्‍त को‍शिकाहरूको भित्ताहरूको साथ बग्छ र विषाणुलाई खोजी गरी तिनीहरूलाई नष्‍ट गर्छ ।

                                </li>
                                <li>रातो रक्‍त कणिकाहरू शरीरको अङ्गहरू र कोशिकाहरूसम्म अक्‍सिजेन पुर्‍याउँछ ।

                                </li>
                                <li>दुई थोपा रगतमा करिब एक अरब रातो रक्‍त कणिकाहरू हुन्छन् ।

                                </li>
                            </ul>
                        </p>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
      </div>      
    </div> 
  </section>
</section>


<!----------------------donors and form------------------------------>
<div class="container mt-4">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
    <div class="mt-4  mb-2">
        <% if user_signed_in? %>
            <%= link_to new_donor_path do %>
	          <%= t('new_donor') %><i class="fas fa-plus-circle ml-2"></i>
            <% end %>
        <% else %>
            <%= link_to user_session_path do %>
                <span  class="btn-outline-danger rounded p-2 border"><%= t('login_to_become_donor') %></span>
            <% end %>
        <% end %>  
    </div>
    <% if !params[:blood_group] %>
    	<button class="btn btn-primary filter-button mt-2" data-filter="all">  <%= t('all') %></button>
        <button class="btn btn-danger filter-button mt-2" data-filter="Apos">A+</button>
    	<button class="btn btn-danger filter-button mt-2" data-filter="Aneg">A-</button>
        <button class="btn btn-danger filter-button mt-2" data-filter="Bpos">B+</button>
        <button class="btn btn-danger filter-button mt-2" data-filter="Bneg">B-</button>
        <button class="btn btn-danger filter-button mt-2" data-filter="Opos">O+</button>
        <button class="btn btn-danger filter-button mt-2" data-filter="Oneg">O-</button>
        <button class="btn btn-danger filter-button mt-2" data-filter="ABpos">AB+</button>
    	<button class="btn btn-danger filter-button mt-2" data-filter="ABneg">AB-</button>
    <% else %>
         <%= link_to "SEE ALL",donors_path,class:"btn-outline-danger border p-2 rounded" %>
    <% end %>
    </div>
    <br/>
    <!-------------------donnars list------------------------>
    <% if params[:blood_group] %>
        <% @donors= @donors.where("blood_group=?",params[:blood_group]) %>
        
    <% end %>
    <div class="row">
        <% @donors.each do |donor| %>
         <% if donor.blood_group.include?'+' %>
         	<% bloodgroup = donor.blood_group.sub! '+','pos' %>
         <% else %>
         	<% bloodgroup = donor.blood_group.sub! '-','neg' %>
         <% end %>
            <div class="col-md-4 mb-4 filter <%= bloodgroup %>">
            	<div class="media align-middle border shadow">
                    <div class="card bloodgroup">
                        <div class="card-body">
                        	<% if donor.blood_group.include?'pos' %>
                             	<% bloodgroup = donor.blood_group.sub! 'pos','+' %>
                             <% else %>
                             	<% bloodgroup = donor.blood_group.sub! 'neg','-' %>
                             <% end %>
                          <%= donor.blood_group %>
                        </div>
                      </div>
						<div class="media-body align-middle mx-2">
							
							<h4 class="title text-capitalize responsive-text"> 
                            <%= donor.name %>, <%=donor.gender %><br />
								<span>
                                Age: <%= donor.age %></span><br />
                                <span class="summary text-capitalize responsive-text"><%= donor.address %></span><br />
                            <a href="tel:<%= donor.phone1 %>" class="phoneMe" style="text-decoration:none" >
                            <% if !donor.dont_display_phone %>
                                <span class="phone mt-4"><i class="fas fa-mobile-alt mr-2"></i><%=donor.phone1 %></span>
                            <% end %>
                            </a>
							</h4>
						</div>
                        <% if user_signed_in? && current_user.id === donor.user_id %>
                            <div class="d-flex flex-row-reverse p-2">
                                <div>
                                    <%= link_to  donor, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash-alt text-danger"></i><% end %>
                                </div>
                                <div class="mr-2 ml-2">
                                    <%= link_to  edit_donor_path(donor) do %><i class="far fa-edit text-primary"></i><% end %>
                                </div>
                            </div>
                        <% end %>
				</div>
            </div>
        <%end%>
    </div>
<!---------------------------------------------------------------------------------------->
	</div>
</div>
</div>
</div>

</div>

</div>












