<% content_for :title, "List of donors-MNRYP" %>
<%= render 'Homepage/navmenu' %>
<!------------------herosection card------------------------------------------------------->




<!----------------------donors and form------------------------------>
<div class="container-fluid mt-2">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
    <div class="d-flex">
        <div class="justify-content-left">
            <div class="mt-4  mb-2">
                <% if user_signed_in? %>
                    <%= link_to new_donor_path, class:"font-weight-bold  btn bg-success" do %>
                    <%= t('new_donor') %><i class="fas fa-plus-circle ml-2"></i>
                    <% end %>
                <% else %>
                    <%= link_to user_session_path do %>
                        <span  class="btn-outline-danger rounded p-2 border"><%= t('login_to_become_donor') %></span>
                    <% end %>
                <% end %>  
            </div>
        </div>
    </div>
<div class="row">
         <div class="col-md-12">
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Kanchanpur"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary  mt-2") do %>
                                Kanchanpur
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Dadeldhura"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Dadeldhura
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Kailali"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Kailali
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Baitadi"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Baitadi
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Darchula"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Darchula
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Bajhang"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Bajhang
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Achham"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Achham
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Bajura"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Bajura
                        <% end %>
                <% end %>
                <%= form_tag donors_path, :method =>"get" do %>
                <% arcy = "Doti"%>
                <%= hidden_field_tag "district", arcy %>
                        <%= button_tag(type: "submit", class: "btn btn-primary mt-2") do %>
                                Doti
                        <% end %>
                <% end %>
        </div>

        <div class="col-md-6">
            <% if !params[:blood_group] %>
                <button class="btn btn-primary filter-button mt-2" data-filter="all">  <%= t('all') %></button>
                <button class="btn btn-danger filter-button mt-2" data-filter="Apos">A+</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="Aneg">A-</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="Bpos">B+</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="Bneg">B-</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="Opos">O+</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="Oneg">O-</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="ABpos">AB+</button>
                <button class="btn btn-danger filter-button mt-2" data-filter="ABneg">AB-</button>

            <% else %>
                <%= link_to "SEE ALL",donors_path,class:"btn-outline-danger border p-2 rounded" %>
            <% end %>
        </div>
    <%# ------------ %>
   

    
</div >
    <br/>
    <!-------------------donnars list------------------------>
    <% if params[:blood_group] %>
        <% @donors= @donors.where("blood_group=?",params[:blood_group]) %>
    
    <% end %>
    
    <div class="row">
        <% @donors.each do |donor| %>
         <% if donor.blood_group.include?'+' %>
         	<% bloodgroup = donor.blood_group.sub! '+','pos' %>
         <% else %>
         	<% bloodgroup = donor.blood_group.sub! '-','neg' %>
         <% end %>
            <div class="col-md-4 mb-4 filter <%= bloodgroup %>">
            	<div class="media align-middle border shadow">
                    <div class="card bloodgroup">
                        <div class="card-body">
                        	<% if donor.blood_group.include?'pos' %>
                             	<% bloodgroup = donor.blood_group.sub! 'pos','+' %>
                             <% else %>
                             	<% bloodgroup = donor.blood_group.sub! 'neg','-' %>
                             <% end %>
                          <%= donor.blood_group %>
                        </div>
                      </div>
						<div class="media-body align-middle mx-2">
							
							<h4 class="title text-capitalize responsive-text"> 
                            <span> <h6 class="font-weight-bold "> <%= donor.name %> </h6> </span> <%=donor.gender %>  <br>
								<span>
                                Age: <%= donor.age %></span><br />
                                <span class="summary text-capitalize responsive-text"><%= donor.address %></span><br>
                                <%# blood donated condition --------------------- %>
                                <div class="mt-1">
                                    <% if donor.blood_donated == true %>
                                         <span class="badge bg-success text-white ">  Donated Before !</span> </span>
                                    <% else %>
                                    <span class="summary text-capitalize responsive-text fs-5 text-danger " id="donated-times"> <p>  Not Donated Before !</p> </span> 
                                    <% end %>
                                    <div class="mt-1">
                                        <% if donor.blood_donated == true &&  donor.blood_donated_times  %>
                                            <span class="summary text-capitalize responsive-text fs-5 text-success" id="donated-times"> <p>  <span class="font-weight-bold"><%= donor.blood_donated_times %> </span>  <span class="text-dark">Times </span> </p> </span>
                                        <% end %>
                                    </div>
                                </div>
                                <%# ---------------------------------- %>
                            <a href="tel:<%= donor.phone1 %>" class="phoneMe" style="text-decoration:none" >
                            <% if !donor.dont_display_phone %>
                                <span class="phone mt-4"><i class="fas fa-mobile-alt mr-2"></i><%=donor.phone1 %></span>
                            <% end %>
                            </a>
							</h4>
						</div>
                        <% if user_signed_in? && current_user.id === donor.user_id %>
                            <div class="d-flex flex-row-reverse p-2">
                                <div>
                                    <%= link_to  donor, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash-alt text-danger"></i><% end %>
                                </div>
                                <div class="mr-2 ml-2">
                                    <%= link_to  edit_donor_path(donor) do %><i class="far fa-edit text-primary"></i><% end %>
                                </div>
                            </div>
                        <% end %>

				</div>
            </div>
        <%end%>
    </div>
<!---------------------------------------------------------------------------------------->
	</div>
</div>
</div>
</div>

</div>

</div>

<style>
form {
    display: inline-block; //Or display: inline; 
}
</style>