<% content_for :title, "Add Listing-MNRYP" %>
<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>
<%= render 'Homepage/navmenu.html.erb' %>

    <div id="addlistform" class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
              <div class="row">
              <div class="col-md-12 col-sm-12">
                 <div class="about-title clearfix">
                    <h1>Become blood donor for <span>MNRYP</span></h1>
                 </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-12">
          <ul >
          <!------  <li class="about-paddingB text-justify">Make sure to select the Bussiness Category from the dropdown.</li>
            <li class="about-paddingB text-justify">The business name used in the listing must match that used offline.</li>
            <li class="about-paddingB text-justify">You must use an accurate physical address for your business listing.</li>
            <li class="about-paddingB text-justify">Listings cannot be used to promote illegal or fraudulent activities, which can result in your business being delisted from the MNRYP, along with account termination. </li>
            <li>Make sure to provide detailed srvices provided by your Bussiness in business description section.</li>---->
          </ul>
          </div>
          <div class="col-md-6 col-sm-12">
          <div class="shadow p-3 mb-5 bg-white rounded">
          <%= form_for @donor do |f| %>
            <h3 class="text-center",class="textt">Add your info</h3>
            <div class="form-group" class="row g-3 needs-validation">
                <%=f.label :name, class:"textt" %>
                <%= f.text_field :name, class:"form-control",required: true %>
                <%=f.label :address, class:"textt" %>
                <%= f.text_field :address, class:"form-control", required: true  %>
                <%=f.label :gender, class:"textt" %><br/>
                
                <%= f.radio_button :gender, 'male', required: true%><span class="texxtt">Male</span>
                <%= f.radio_button :gender, 'female'%><span class="textt">Female</span>
                <%= f.radio_button :gender, 'others'%><span class="textt">Others</span><br/>
                <%=f.label :dob, class:"textt" %>
                <%= f.date_field :dob, class: 'form-control', required: true  %>
                <%=f.label :blood_group, class:"textt" %><br/>
                
                <%= f.radio_button :blood_group, 'A+', required: true%><span class="textt">A+</span>
                <%= f.radio_button :blood_group, 'A-'%><span class="textt">A-</span>
                <%= f.radio_button :blood_group, 'B+'%><span class="textt">B+ </span>
                <%= f.radio_button :blood_group, 'B-'%><span class="textt">B-</span>
                <%= f.radio_button :blood_group, 'O+'%><span class="textt">O+</span>
                <%= f.radio_button :blood_group, 'O-'%><span class="textt">O-</span>
                <%= f.radio_button :blood_group, 'AB+'%><span class="textt">AB+</span>
                <%= f.radio_button :blood_group, 'AB-'%><span class="textt">AB-</span><br/>

                
                <%=f.label :phone1, class:"textt"%>
                <%= f.text_field :phone1, class:"form-control", required: true  %>
                <%=f.label :phone2, class:"textt"%>
                <%= f.text_field :phone2, class:"form-control", required: true %>
                

                <%=f.label :status, class:"textt" %><br/>
                
                <%= f.radio_button :status, 'available',required: true%><span class="textt">available</span>
                <%= f.radio_button :status, 'unavailable'%><span class="textt">unavailable</span><br/><br/>
                
                <%= f.submit "Add blood", class: 'btn btn-success', style: "width:100%; height: 40px;" %>
            </div>
            </div>
            <% end %>
              </div>
          </div>
       </div>
     </div>







