

<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>
<%= render 'Homepage/navmenu.html.erb' %>

  <div class="container">
    <h1 class="form_title"><%= t('donors_title') %> <span class="mnryp_word">MNRYP</span></h1>
    <div class="row">
        <div class="col-md-6">
            <ul >
              <li class="text-justify"><%= t('donors_text_1') %></li>
              <li class="text-justify"><%= t('donors_text_2') %></li>
              <li class="text-justify"><%= t('donors_text_3') %></li>
              <li class="text-justify"><%= t('donors_text_4') %></li>
              <li class="text-justify"><%= t('donors_text_5') %></li>
              <li class="text-justify"><%= t('donors_text_6') %></li>
              <span class="text-justify"><%= t('thanks_text') %></span>
            </ul>
        </div>
        <div class="col-md-6">
          <div class="shadow p-3 mb-5 bg-white rounded">
          <%= form_for @donor do |f| %>
            
                <%= f.text_field :name, placeholder: "#{t('donors_placeholder_1')}" ,class:"form-control mb-2" %>
                <%= f.text_field :address, placeholder: "#{t('donors_placeholder_2')}" ,class:"form-control mb-2" %>
                <%= f.label :blood_group, "#{t('donors_placeholder_3')}", class:"mr-2" %>
                <%= f.select :blood_group, ['A+','A-','B+','B-','O+','O-','AB+','AB-']  %>
                <%= f.label :gender, "#{t('donors_placeholder_4')}", class:"mr-2 ml-auto" %>
                <%= f.select :gender, ['Male','Female','Others'] %>
                <%= f.number_field :age,placeholder: "#{t('donors_placeholder_5')}" ,class:"form-control mb-2" %>
                <%= f.text_field :phone1, placeholder: "#{t('donors_placeholder_6')}",class:"form-control mb-2" %>
                <%= f.text_field :phone2, placeholder: "#{t('donors_placeholder_7')}",class:"form-control mb-2" %>

                <div class="d-flex flex-row">
                  <div class="flex-fill">
                    <%= link_to :back do %><span class="cancel-button form-control font-weight-bold text-center">Cancel</span><% end %>
                  </div>
                  <div class="flex-fill">
                    <%= f.submit "Add" , class:"button form-control text-white font-weight-bold"%>
                  </div>
                </div>
                
                 <%= recaptcha_action('vacancy') %>
            <% end %>
            
          </div>
        </div>
    </div>
  </div>
 
     
     