

<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>
<%= render 'Homepage/navmenu.html.erb' %>

    <div id="addlistform" class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
              <div class="row">
              <div class="col-md-12 col-sm-12">
                 <div class="about-title clearfix">
                    <h1>Become Blood Donor for <span>MNRYP</span></h1>
                 </div>
                 <div id="addlistform">
                    <div class="about-title clearfix" style="display:none">
                        <h1>Welcome <span>MNRYP</span></h1>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-12">
          <ul >
            <li class="about-paddingB text-justify">Make sure to select the Blood Group from the dropdown.</li>
            <li class="about-paddingB text-justify">Use your full name.</li>
            <li class="about-paddingB text-justify">You must use an accurate physical address.</li>
            <li class="about-paddingB text-justify">Also give a secondary number so that we can contact you on emergency.</li>
            <li>Your information is safe with us, you will be called for blood donation in future, THANK YOU!</li>
          </ul>
          </div>
              <div class="col-md-6 col-sm-12">
              <div class="shadow p-3 mb-5 bg-white rounded">
              <%= form_for @donor do |f| %>
                
                   <div class="row p-2">
                      <%= f.text_field :name, placeholder: "Full Name" ,class:"form-control" %>
                   </div>
                   
                   <div class="row p-2">
                      <%= f.text_field :address, placeholder: "Address" ,class:"form-control" %>
                   </div>
                   <div class="row" style="margin-right:0px !important;">
                       <div class="col-6">
                          <%= f.label :blood_group, "Blood Group", class:"mr-2" %>
                       <%= f.select :blood_group, ['A+','A-','B+','B-','O+','O-','AB+','AB-']  %>
                       </div>

                       <div class="col-6">
                          <%= f.label :gender, "Gender", class:"mr-2 ml-auto" %>
                          <%= f.select :gender, ['Male','Female','Others'] %>
                       </div>

                   </div>
                   <p>Age</p>
                   <div class="row p-2">
                    <%= f.number_field :age,placeholder: "Age" ,class:"form-control" %>
                   </div>
                  
                  <div class="row ml-1">
                       <div class="row p-2">
                          <%= f.text_field :phone1, placeholder: "Contact Number" %>
                       </div>
                       <div class="row p-2">
                          <%= f.text_field :phone2, placeholder: "Alternative Contact",class:"form-control" %>
                       </div>
                   </div>
                   <div class="d-flex justify-content-center">
                    <%= f.submit "Add" , class: "button form-control"%>
                   </div>
                     <%= recaptcha_action('vacancy') %>
                <% end %>
                
              </div>
              </div>
          </div>
       </div>
     </div>
 
     
     