<% content_for :title, "List of donors-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>


<%= link_to "Add Job Vacancy", new_vacancy_path, class: "button ml-5 mb-3 mt-n2"%>
    <div class="row ml-4 mr-4">
    
        <% @vacancies.each do |vacancy| %>
            
            <div class="col-sm-6 col-xs-12 mb-2">
            
                <div class="card">
                
                <div class="card-body ">
                <div class="row">
                    <div class="col-2"><img src="https://thirdwheel.com.np/assets/frontend/images/products/5509_swastikred.jpg" class="img-fluid" alt="Responsive image"></div>
                    <div class="col-10">
                    <h5 class="card-title summary text-capitalize">Job Vacancy for <%=vacancy.job_title%></h5>
                    <p class="card-text summary text-capitalize">In <%=vacancy.location%></p>
                    <p class="card-text">Apply before <%=vacancy.apply_before.strftime("%B %d, %Y")%></p>
                    <%= link_to "View More" ,vacancy_path(vacancy), class:"button" %> 
                    
                    </div>
                </div>
                
                    
                </div>
                </div>
            </div>
            
        
        
        <%end%> 
    </div>
</div>


 


