<% content_for :title, "List of donors-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>





<div class="container mt-4">
    <div class="row">
    		<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
                            <div class=" col-md-12 p-2">
                            
								<a type="button" class="btn btn-success btn-filter" data-target="all">ALL</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Aviation">Aviation</a>
								<a type="button" class="btn btn-danger btn-filter" data-target="Arts">Arts</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Business">Business</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Education">Education</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Law Enforcement">Law Enforcement</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Media">Media</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Medical">Medical</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Service Industry">Service Industry</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Technology">Technology</a>
                                <a type="button" class="btn btn-danger btn-filter" data-target="Others">Others</a>
						</div>
						<div class="float-right mt-2">
						 <%= link_to new_vacancy_path, style:"text-decoration:none; font-size: 20px;" do %>
						Add Job Vacancy<i class="fas fa-plus-circle ml-2"></i>
						<% end %>	
						</div>
						</div>
                        <div class="table-container">
                        
                            <table class="table table-filter">
                            
                                <tbody>
                                <% @vacancies.each do |vacancy| %>
                                    <tr data-status="<%= vacancy.job_category %>">
                                    <td>
                                        <div class="media align-middle">
                                            <div class="card m-2 bloodgroup">
                                        
                                                <div class="card-body">
                                                
                                                <%vancan=vacancy.job_category.to_s%>
                                                <%=vancan[0]%>
                                                </div>
                                            </div>
                                            <div class="media-body align-middle">
                                                <span class="media-meta pull">
                                                
                                                <a href="tel:<%= vacancy.job_title %>" class="phoneMe" style="text-decoration:none" >
                                                <span class="phone mt-4"><%= link_to "View Details" ,vacancy_path(vacancy), class:"button" %> </span>
                                                </a>
                                                
                                                </span>
                                                <h4 class="title text-capitalize"> 
                                                Job for <%= vacancy.job_title %>
                                                    <span>(<%=vacancy.job_category%>)</span>
                                                </h4>
                                                <p class="summary text-capitalize">For <%= vacancy.company_name%>, At <%=vacancy.location %><br/>Apply before <%=vacancy.apply_before.strftime("%B %d, %Y")%></p>
                                                
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                        <% end %>
                                </tbody>
                                
							</table>
						</div>
					</div>
			</div>
        
        </div>
            
	</div>
    	
</div>





