<h1><%= @vacancy.job_title %></h1>

<p>
   <strong>Price: </strong> $<%= @vacancy.job_category %><br />
   <strong>Subject :</strong> <%= @vacancy.job_level %><br />
   <strong>Created Date:</strong> <%= @vacancy.job_desciption %><br />
</p>

<p><%= @vacancy.apply_before %></p>

<hr />

<%= link_to "Go Back", vacancies_path, class: "button"%>