
	<%= form_for @tourist,:html => { :multipart => true,class:"needs-validation", :novalidate=>true } do |f| %>

                <!--------------Errors-------------------------------------->
        <% if @tourist.errors.any? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <% @tourist.errors.full_messages.each do |message|%>
                <p class="responsive-text"><%= message %> </p>
              <%end%>
          </div>
        <%end%>
        <!------------------------------------------------------------------------------->

		
        <div class="input-group has-validation">
            <%= f.text_field :place_name, placeholder: " Enter Name of Tourist Place  ", class:"form-control MT-2", required:true %>
            <div class="invalid-feedback">
                Please enter a valid Product Name.
            </div>
        </div>
        <div class="input-group has-validation">
            <%= f.text_field :location, placeholder: "Enter Location of Place ", class:"form-control mt-2", required:true %>
            <div class="invalid-feedback">
                Please enter a valid Price.
            </div>
        </div>
        <div class="input-group has-validation">
            <%= f.telephone_field :contact, placeholder: "Enter Contact number related to Place", class:"form-control mt-2", required:true %>
            <div class="invalid-feedback">
                Please enter a valid Phone number.
            </div>
        </div>
        <div class="input-group has-validation">
            <%= f.text_field :longitude, placeholder: "Enter longitude of Place ", class:"form-control mt-2" %>
            <div class="invalid-feedback">
                Please enter  valid longitude of place .
            </div>
        </div>
                <div class="input-group has-validation">
            <%= f.text_field :lattitude, placeholder: "Enter latitude of Place ", class:"form-control mt-2" %>
            <div class="invalid-feedback">
                Please enter latitude of place.
            </div>
        </div>
                <div class="input-group has-validation">
            <%= f.text_area :feature, placeholder: "Add Features about Place : sepeate features by commas(,)", class:"form-control mt-2", :rows => "3", required:true %>
            <div class="invalid-feedback">
                Please enter some features about place .
            </div>
        </div>
                <div class="input-group has-validation">
            <%= f.text_area :description, placeholder: " Add Description about Place  ", class:"form-control mt-2", :rows => "4", required:true %>
            <div class="invalid-feedback">
                Please enter some description about place .
            </div>
  

        <hr />
        <label class="mr-2"> </label>
         <div class="row p-2">
                <strong> Add Images </strong>
            <%= f.fields_for :tourist_images do |p| %>
                <div class="input-group has-validation">
                <%= p.file_field :image, direct_upload: true,:multiple => true,class:"form-control",name:"tourist_images[image][]",required:true %>
                 <%= p.hidden_field :image_cache %>
                 <div class="invalid-feedback">
                    Please uplaod Place  Images.
                 </div>
             </div>
             <pre> You can upload multiple images at a time </pre>
            <% end %>
           </div>
        <hr />
         <!-------------form buttons-------------------->
          <div class="d-flex flex-row mt-2">
            <div class="flex-fill">
              <%= link_to :back do %>
                <span class="cancel-button form-control font-weight-bold text-center">Cancel</span>
              <% end %>
            </div>
            <div class="flex-fill">
              <%= f.submit "Add Place" , class:"button form-control text-white font-weight-bold", data: { disable_with: "Adding..." } %>
            </div>
          </div>
           <%= recaptcha_action('marketplace') %>
  <% end %>
