 <%= render 'Homepage/navmenu.html.erb' %>

  <!------------------tourism cards started---------------------------------->
   
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
            <% @tourist.each do |place| %>
               
                <div class="col-md-3">
                <%=  link_to  tourist_path(place), style:"text-decoration:none" do %>
                        <div class="card-flyer ">
                            <div class="text-box">
                                <div class="image-box">
                                <img src=" <%= place.tourist_image.first.image %>">
                                </div>
                                <div class="text-container text-black ">
                                    <h6 ><%= place.place_name %></h6>
                                         <p>  <i class="fas fa-map-marker-alt"></i> <%= place.location%></p>
                                </div>
                               
                            </div>
                        </div>
                </div>
              <% end %>

           <% end %>     
                
            </div>
        </div>
    </div>

       
   <!-----------------tourism cards end----------------------------------------------->