  <!------------------tourism cards started---------------------------------->
            <section class="details-card">
                <div class="container">
                <p  style="font-size:50px; text-align:center; font-family: 'Permanent Marker', cursive;"> Places To Visit In MNR </p>
                
                    <div class="row">
                    <% @tourist.each do |place| %>
                    <%=  link_to  tourist_path(place) do%>
                        <div class="col-md-4">
                        <%= link_to tourist_path(place),style:"text-decoration:none" do %>
                            <div class="card-content">
                                <div class="card-img">
                                    <img src="https://placeimg.com/380/230/nature" alt="">
                                    
                                </div>
                                <div class="card-desc">
                                    <h3><%= place.place_name%></h3>
                                    <p>  <i class="fas fa-map-marker-alt"></i> <%= place.location%></p>
                                        
                                        <i class="fas fa-phone-alt"></i>  <%= place.contact%>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    
                        <% end %> 
                     <%end%>
                    </div>
                    
                </div>
            </section>
       
   <!-----------------tourism cards end----------------------------------------------->