
	<%= form_for @marketplace,:html => { :multipart => true } do |f| %>

		<%= f.hidden_field :seller_name, value:"#{current_user.name}" %>
		<%= f.hidden_field :user_id, value:"#{current_user.id}" %>

         <div class="row p-2">
            <%= f.text_field :prod_name, placeholder: "#{t('marketplace_placeholer_1')}", class:"form-control w-100" %>
         </div>
            
         <div class="row p-2">
            <%= f.number_field :price, placeholder: "#{t('marketplace_placeholer_2')}", class:"form-control w-100" %>
         </div>
         <div class="row p-2">
            <%= f.number_field :phone, placeholder: "#{t('marketplace_placeholer_3')}", class:"form-control w-100" %>
         </div>

         <div class="row p-2">
            <%= f.text_area :description, placeholder: "#{t('marketplace_placeholer_4')}", class:"form-control w-100" %>
         </div>
<hr />
         <div class="row p-2">
         	
            <label class="mr-2"><%= t('marketplace_placeholer_5') %></label>
            <%= f.fields_for :market_place_images do |p| %>
             <div class="field">
              <div class="input-group">
                <%= p.file_field :image, direct_upload: true,:multiple => true,class:"form-control",name:"market_place_images[image][]" %>
                 <%= p.hidden_field :image_cache %>
             </div>
             <pre><%= t('marketplace_placeholer_6') %></pre>
           </div>
           <% end %>
         </div>
         
         <div class="d-flex justify-content-center mt-2">
          <%= f.submit "Sell" , class: "button"%>
         </div>
           <%= recaptcha_action('vacancy') %>
  <% end %>
