<% content_for :title, "Real Estate" %>
<%= render 'Homepage/navmenu.html.erb' %>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<div class="h1">
 <p>MNRYP Real Estate</p>
   <!--------search box begin ---->
   <div class="search">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <div class="container">
      <br/>
	   <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search your properties...">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
     
      </div>
    </div>  

</div>

<!-----------search box end------------>


<div class="text1">
  <h2> BUY PROPERTIES </h2>
</div>
<!---------seller button starts------>

        <!--------seller button ends ----------->
<!--  card section 1  starts from here -->
<div class="c1">
 <section class="details-card">

    <div class="card1">
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://i.pinimg.com/originals/38/d7/5b/38d75b985d9d08ce0959201f8198f405.jpg  " alt="">
                        <span><h4>heading</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Home 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://i.pinimg.com/originals/38/d7/5b/38d75b985d9d08ce0959201f8198f405.jpg " alt="">
                        <span><h4></h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Home 2</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://i.pinimg.com/originals/38/d7/5b/38d75b985d9d08ce0959201f8198f405.jpg " alt="">
                        <span><h4>heading3</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Home 3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
        </div>

     
     
     </div>    
       </div>
 </section>
</div>
<!-- card section 2 starts from here -->
<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://i.pinimg.com/originals/38/d7/5b/38d75b985d9d08ce0959201f8198f405.jpg " alt="">
                        <span><h4>heading</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Home 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://i.pinimg.com/originals/38/d7/5b/38d75b985d9d08ce0959201f8198f405.jpg " alt="">
                        <span><h4></h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Home 2</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://i.pinimg.com/originals/38/d7/5b/38d75b985d9d08ce0959201f8198f405.jpg " alt="">
                        <span><h4>heading3</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Home 3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn-card">Read</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------see more button starts ------>

<button class="button button5">See More</button>

<!-----------see more button  ends------>



<style>
.button {
  background-color: #4CAF50; /* Green */
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: grid;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
}


.button5 {background-color: #555555;} /* Black */
</style>
<!---------input form starts --------->
<div id="addlistform" class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
              <div class="row">
              <div class="col-md-12 col-sm-12">
                 <div class="about-title clearfix">
                    <h1>Sell Your Property To <span>MNRYP</span></h1>
                 </div>
                 <div id="addlistform">
                    <div class="about-title clearfix" style="display:none">
                        <h1>Welcome <span>MNRYP</span></h1>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-12">
          <ul >
            <li class="about-paddingB text-justify">Make sure that your properties would definetly be sold  </li>
             <li class="about-paddingB text-justify">Your Property details will displaying on Real Estate Page of MNRYP   </li>
            <li class="about-paddingB text-justify">The Property name,address &image should be valid for client  </li>
            <li class="about-paddingB text-justify">After listing the property details, if any client checks out the property ,Seller got a call for More Nagotiations  </li>
            
           
          </ul>
          </div>
              <div class="col-md-6 col-sm-12">
              <div class="shadow p-3 mb-5 bg-white rounded">
                <%= form_for :realestate do |f| %>
                   <div class="row p-2">
                     <%= select_tag "tag_id", options_for_select(Tag.pluck(:title, :id)),:include_blank => 'Select Business Type' ,:required => true%>
                    </div>
                    <div class="row p-2">
                       <%= f.text_field :name, placeholder: "Bussiness Name" ,:required => true %>
                    </div>
                    <div class="row p-2">
                        <%= f.text_field :address, placeholder: "Bussiness Address",:required => true %>
                    </div>  
                    <div class="row p-2">
                        <%= f.text_field :owner, placeholder: "Bussiness Owner",:required => true %>
                    </div>
                    <div class="row p-2">
                        <%= f.text_field :phone, placeholder: "Bussiness Phone", type: "number",:required => true %>
                    </div>
                    <div class="row p-2">
                        <%= f.text_area :description, placeholder: "Bussiness description", :required => true %>
                    </div>
                  <!--  <span class="text-info">You can click <a href="https://www.latlong.net/", target="_blank">here</a> to generatar longitude and lattitude</span>
                    <div class="row p-2">
                        <%= f.text_field :longitude, placeholder: "Location Longitude", type: "number", autocomplete:'off'%>
                    </div>
                    <div class="row p-2">
                        <%= f.text_field :lattitude, placeholder: "Location Lattitude", type: "number",autocomplete:'off' %>
                    </div> 
                    <div class="row p-2">
                    <label>Upload Bussiness Image</label>
                      <%= f.file_field :image ,:required => true %>
                    </div> ---->
                    <div class="d-flex justify-content-center">
                     <%= f.submit "Add Listing" , class: "button"%>
                    </div>
                      <%= recaptcha_action('listing') %>
                 <% end %>
              </div>
              </div>
          </div>
       </div>
     </div>
