
<%= form_with(model: [@project, @donation], local: true) do |f| %>

		<div class="mb-3">
    		<%= f.text_field :donor_name, class:"form-control", placeholder:"Enter your name." %>
  		</div>
  		<div class="mb-3">
    		<%= f.text_field :address, class:"form-control", placeholder:"Enter your address." %>
  		</div>
  		<div class="mb-3">
    		<%= f.number_field :contact, class:"form-control", placeholder:"Enter your phone number." %>
  		</div>
  		<div class="mb-3">
    		<%= f.number_field :donation_amount, class:"form-control", placeholder:"Enter the amount to be donated." %>
  		</div>
         <div class="d-flex justify-content-center mt-2">
          <%= f.submit "Donate" , class: "button"%>
         </div>
  <% end %>