<%= form_for @realestate do |f| %>
  <!-------------hidden field ------------------->
  <%= f.hidden_field :user_id, value: "#{current_user.id}"  %>
  <!------------------------------------------------>
    <div class="row p-2">
        <%= f.text_field :propertyname , placeholder: "House Name" ,:required => true %>
    </div>
    <div class="row p-2">
        <%= f.text_field :price, placeholder: "Price Per Month" ,:required => true %>
    </div>
    <div class="row p-2">
        <%= f.text_field :address, placeholder: "House Address  " ,:required => true %>
    </div>
    <div class="row p-2">
        <%= f.text_field :bedroom, placeholder: "No. Of Bedrooms  " ,:required => true %>
    </div>
      <div class="row p-2">
        <%= f.text_field :kitchen, placeholder: "No. Of Kitchen " ,:required => true %>
    </div>
       <div class="row p-2">
        <%= f.text_field :bathroom, placeholder: "No. Of Bathrooms  " ,:required => true %>
    </div>
       <div class="row p-2">
        <%= f.text_field :seller_name, placeholder: "House Owner Name " ,:required => true %>
    </div>
       <div class="row p-2">
        <%= f.text_field :seller_phone, placeholder: "House Owner Phone  " ,:required => true %>
    </div>
      <!------------co-ordinates ---->
    <div class="mt-2">
      <pre> <i class="fas fa-map-marker-alt"></i> Co-ordinates of your location </pre> 
      <pre> (This will show your place in Gmap) </pre>
        <div class="row p-2">
        <%= f.text_field :latitude ,placeholder: "latitude of your location" %>
        </div>
        <div class="row p-2">
        <%= f.text_field :longitude ,placeholder: "longitude of your location" %>
        </div>
    </div>
    <!----------------------------->
     
    <%= f.hidden_field :ptype, value: "rent"  %>
      
     <div class="row p-2">
         	
            <label class="mr-2">Add Images </label>
            <%= f.fields_for :realestate_images do |p| %>
             <div class="field">
              <div class="input-group">

                <%= p.file_field :image, direct_upload: true,:multiple => true,class:"form-control",name: "realestate_images[image][]" %>
                 <%= p.hidden_field :image_cache %>
               
             </div>
             <pre>You can upload multiple images.</pre>
           </div>
           <% end %>
        </div>
   
    <div class="d-flex justify-content-center mt-2">
        <%= f.submit "Add to market" , class: "button"%>
    </div>
<% end %>