<%= form_for @realestate do |f| %>
    <div class="row p-2">
        <%= f.text_field :propertyname , placeholder: "House Name" ,:required => true %>
    </div>
    <div class="row p-2">
        <%= f.text_field :price, placeholder: "Price Per Month" ,:required => true %>
    </div>
    <div class="row p-2">
        <%= f.text_field :address, placeholder: "House Address  " ,:required => true %>
    </div>
    <div class="row p-2">
        <%= f.text_field :bedroom, placeholder: "No. Of Bedrooms  " ,:required => true %>
    </div>
      <div class="row p-2">
        <%= f.text_field :kitchen, placeholder: "No. Of Kitchen " ,:required => true %>
    </div>
       <div class="row p-2">
        <%= f.text_field :bathroom, placeholder: "No. Of Bathrooms  " ,:required => true %>
    </div>
       <div class="row p-2">
        <%= f.text_field :seller_name, placeholder: "House Owner Name " ,:required => true %>
    </div>
       <div class="row p-2">
        <%= f.text_field :seller_phone, placeholder: "House Owner Phone  " ,:required => true %>
    </div>
     
    <%= f.hidden_field :ptype, value: "rent"  %>
   
    <div class="d-flex justify-content-center">
        <%= f.submit "Add to market" , class: "btn"%>
    </div>
<% end %>