<% content_for :title, "Real Estate-MNRYP" %>
  <%= render 'Homepage/navmenu.html.erb' %>

  <div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-6 mb-4">
          <!----------filter buttons-------------------------->
            <button class="btn-outline-warning rounded-pill border border-warning" data-filter="all"> <%= t('all') %> </button>
            <button class="btn-outline-warning rounded-pill border border-warning" data-filter="sell"> <%= t('buy_house_and_land') %></button>
            <button class="btn-outline-warning rounded-pill border border-warning" data-filter="rent"><%= t('take_house_on_rent') %></button>
          <!-------------------------------------------------->
        </div>
        <div class="col-md-6">
          <!--------------------button to let list property-------------------->
          <div class="float-right">
          <% if user_signed_in? %>
                  <%=  link_to "#{t('sell_land')}", new_realestate_path(category:"land") , class: "btn-outline-info rounded-pill border border-warning ml-2 p-1" %>
                  <%=  link_to "#{t('sell_house')} ", new_realestate_path(category:"house_sell") , class: "btn-outline-info rounded-pill border border-warning ml-2 p-1" %>
                  <%=  link_to "#{t('rent_house')}", new_realestate_path(category:"house_rent") , class: "btn-outline-info rounded-pill border border-warning ml-2 p-1"  %>
             <% else %>
                  <%= link_to user_session_path do %>
                    <span  class=" btn-outline-danger rounded p-2 border"><%= t('click_to_sell') %></span>
                  <% end %>
            <%end %>
          </div>
          <!------------------------------------------------------------------->
        </div>
    </div>

    <!--------------all cards to display data--------------------->
     <!-------------------property list------------------------>
  <div class="row">
  <% @Realestates.each do |realestate| %>
            <div class="col-md-3 mt-2 filter <%= realestate.ptype %>">
                <div class="card h-100">
                    <%= realestate.realestate_images.each do |prop_img| %>
                        <%= cl_image_tag(prop_img.image, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy" , :class=>"card-image", loading:"lazy") %>
                          <% break %>
                    <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= realestate.propertyname %></h4>
                <h6 class="card-subtitle mb-2 text-muted"><%= t('seller') %>: <%= realestate.seller_name %></h6>
                <div class="buy">
                  <div class="text-success"><h5 class="">Rs.<%= realestate.price %></h5></div>
                  <div class="text-danger"><h5 class=""><i class="fas fa-map-marker-alt"></i> <%= realestate.address%></h5></div>
                </div>
                    <a href="tel:<%= realestate.seller_phone %>" class="mt-2"><i class="fas fa-phone-alt"></i> <%= realestate.seller_phone %></h6></a>
                            <%= link_to realestate_path(realestate), class:"float-right" do %>
                             <%= t('view_more') %>
                            <% end %>
                      
                              <% if user_signed_in? && current_user.id == realestate.user_id %>
                                  <div class="d-flex flex-row-reverse p-2">
                                      <div>
                                          <%= link_to  realestate, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash-alt text-danger"></i><% end %>
                                      </div>
                                      <div class="mr-2 ml-2">
                                          <%= link_to  edit_realestate_path(realestate,category:"#{realestate.ptype}") do %><i class="far fa-edit text-primary"></i><% end %>
                                      </div>
                                  </div>
                              <% end %>
            </div>
              </div>
            </div>

      <%end%>
  </div>
<!---------------------------------------------------------------------------------------->
    <!------------------------------------------------------------->
  </div>