<% content_for :title, "Real Estate-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>

<div class="container-fluid mt-4">
  <div class="row mx-2">
    <div class="col-md-6 px-0 text-center border-right border-secondery">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @realestate.realestate_images.each_with_index do |prop_img,index| %>
            <% active_class = "active" if index==0 %>
              <div class="carousel-item <%= active_class %>" style="height:400px; width: 100%;">
                  <%= cl_image_tag(prop_img.image, :quality=>"auto:low",:fetch_format=>"auto",:flags=>"lossy" , :class=>"img-fluid w-100", loading:"lazy",style:"height:400px;") %>
              </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-md-6">
        <div class="mnryp_word"><strong> <%= @realestate.propertyname %> </strong></div>
        <h6 class="text-muted"><%= t('seller') %>: <%= @realestate.seller_name %></h6>
        <i class="fas fa-map-marker"></i> <%= @realestate.address %>
        <div class="form_title">Rs.<%= @realestate.price %> /- </div>
        <a href="tel:<%= @realestate.seller_phone %>" class="mt-2"><i class="fas fa-phone-alt"></i> <%= @realestate.seller_phone %></a>
        <hr />
        <div class="mnryp_word responsive-title"><%= t('description_and_features') %></div>
          <pre class="text-justify text-muted"> <%= @realestate.description %></pre>
    </div>
  </div>
  <div class="mx-2 mt-2">
      <div class="mnryp_word"><i class="fas fa-map-marked-alt"></i> <%= t('gmap') %> </div>
       <% lat = @realestate.latitude %>
       <% long = @realestate.longitude %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://maps.google.com/maps?q=<%= lat %>,<%= long %>&z=15&output=embed" loading="lazy" allowfullscreen></iframe>
        </div>
        <div class="alert alert-danger text-justify mt-2" role="alert">
          <%= t('alert_message') %>
        </div>
  </div>
</div>