<% content_for :title, "Notes" %>
 <%= render 'Homepage/navmenu.html.erb' %>
<!----------------------------------------breadcrumb section-------------------------------------->
        <div class="row p-3">
            <div class="breadcrumb-default ml-2">
                <%= link_to "#{params[:uni]}-#{params[:dept]}", educational_notes_path,style:"text-decoration: none",class:"text-uppercase" %>
                    <a href="#" style="text-decoration: none" class="text-uppercase">/<%= params[:sem] %></a>
            </div>
        </div>
<% if @notes_subject == [] %>
	<pre class="container text-danger">No Notes Found for this semester. We will upload notes for this semester very soon.</pre>
<% else %>
<div class="row container-fluid py-2">
	<% @notes_subject.each do |subject| %>
		<%= link_to  educational_notes_notes_show_path(uni:"fu",dept:params[:dept],sem:params[:sem],sub:subject), style:"text-decoration:none" do %>
			<div class="col text-center">
				<i class="fas fa-folder fa-4x ml-2" style="color: #fcc72c;"></i><br />
				<span class="text-capitalize"><%= subject %></span>
			</div>
		<% end %>
	<% end %>
</div>
<% end %>