<% content_for :title, "Notes" %>
 <%= render 'Homepage/navmenu.html.erb' %>

<!----------------------------------------breadcrumb section-------------------------------------->
        <div class="row p-3">
            <div class="breadcrumb-default ml-2">
                <%= link_to "#{params[:uni]}-#{params[:dept]}/", educational_notes_path,style:"text-decoration: none",class:"text-uppercase" %>
                <%= link_to "#{params[:sem]}", :back,style:"text-decoration: none",class:"text-uppercase" %>
                    <a href="#" style="text-decoration: none">/ <span class="text-capitalize"><%= params[:sub] %></span></a>
            </div>
        </div>
<%if  @notes_chapters == [] %>
	<pre class="container text-danger">No Notes Found for this subject. We will upload notes for this subject very soon.</pre>
<% else %>
    <div class="row container-fluid py-2">
        <% @notes_chapters.each_with_index do |chapter,index| %>
        	<div class="col text-center">
							<a href="<%= @notes_download_link[index] %>">
									<div class="ml-2">
									        <div class="card-body">
									            <i class="fas fa-file-pdf fa-2x"></i><br />
									            <i class="fas fa-download"></i>
									            <h6 class="text-capitalize">
									            	<%= chapter %>
									            </h6>
									     	</div>
									</div>
							</a>
						</div>
        <% end %>
    </div>       
<% end %>