<html>
<head>

  <meta name="turbolinks-visit-control" content="reload">
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

</head>
<body>

 <% content_for :title, "Welcome to MNRYP" %>
 <%= render 'Homepage/header.html.erb' %>
 
 <div class="desktop-view d-none d-sm-block">
 <div class="px-4">
 	<div class="row">
 		<div class="col-md-3 cols-xs-12">
 			<!-----category cards---->
 			<%= render 'Homepage/categorycard.html.erb' %>
 		</div>
 		<div class="col-md-6 cols-xs-12">
 			<%= render partial:"Homepage/services" %>
				<div class="ad-sektion-top hidden-xs" style="margin-top:80px;">
					<div class="container-fluid text-center">
						<div class="row">
							<div class="adbox-img ">
								<img src="https://res.cloudinary.com/di7sekeem/image/upload/v1618896609/Ads/ni_ad_ldfn8b.png" class="img-thumbnail" alt="Cinque Terre" loading="lazy"> 
							</div>
						</div>
					</div>
				</div>
 		</div>
 		<div class="col-md-3 cols-xs-12" align="center"> 
 			<div class="py-2">
 			 <div class="fb-page" data-href="https://www.facebook.com/mnryp/" data-tabs="timeline" data-width="" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mnryp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mnryp/">MNR YP</a></blockquote></div>
 			</div>
    	</div>
 		</div>
 	</div>
 </div>
 <div class="mobile-view d-block d-sm-none">
 	<div class="container">
 			<%= render partial:"Homepage/services" %>
 			<div class="ad-sektion-top hidden-xs" style="margin-top:80px;">
					<div class="container-fluid text-center">
							<div class="adbox-img ">
								<img src="https://res.cloudinary.com/di7sekeem/image/upload/v1618896609/Ads/ni_ad_ldfn8b.png" class="img-thumbnail" alt="Cinque Terre" loading="lazy"> 
							</div>
						</div>
				</div>
 			<!-----category cards---->
 			<%= render 'Homepage/categorycard.html.erb' %>

 			<div class="py-2 px-1">
 			 <div class="fb-page" data-href="https://www.facebook.com/mnryp/" data-tabs="timeline" data-width="" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mnryp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mnryp/">MNR YP</a></blockquote></div>
 			</div>
 	</div>
 </div>
 <div id="fb-root"></div>
<!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>

</body>
</html>
       