<html>
<head>
    <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

</head>
<body>
 <% content_for :title, "Welcome to MNRYP" %>
 <%= render 'Homepage/header.html.erb' %>
    <!-----category cards---->
    <div class="container">
        <%= render 'Homepage/categorycard.html.erb' %>
    </div>
    <!---header--------->
</body>
</html>

    <!------------------tourism cards started---------------------------------->


        <section class="details-card">
            <div class="container">
               <p  style="font-size:50px; text-align:center; font-family: 'Permanent Marker', cursive;"> Places To Visit In MNR </p>
             
                <div class="row">
                 <% @touristplaces.each do |place| %>
                 
                    <div class="col-md-4">
                    <%= link_to tourist_path(place),style:"text-decoration:none" do %>
                        <div class="card-content">
                            <div class="card-img">
                                <img src="https://placeimg.com/380/230/nature" alt="">
                                
                            </div>
                            <div class="card-desc">
                                <h3><%= place.place_name%></h3>
                                 <p>  <i class="fas fa-map-marker-alt"></i> <%= place.location%></p>
                                     
                                    <i class="fas fa-phone-alt"></i>  <%= place.contact%>
                            </div>
                        </div>
                         <% end %>
                    </div>
                   
                      <% end %> 
                </div>
                
            </div>
        </section>
       
            
   <!-----------------tourism cards end----------------------------------------------->