<% content_for :title, "Search results-MNRYP" %>
<%= render 'Homepage/navmenu.html.erb' %>

<div class="container">
	  
	<%= @tags_result %>
	<!-------------for all the searches of tags if any------------------>
	<% @tags_result["hits"].each do |result| %>
		<%= link_to homes_show_path(category: result["title_en"] ) do %>
			<span class="responsive-title">
				<%= result["title_en"] %>
			</span>
		<% end %>
			<p class="responsive-text text-muted"><i class="fas fa-tags text-warning"></i>Bussiness Tags</p>
	<% end %><hr />
	<!---------------------for all the searches of listings if any------------------------------------------->
	<% @listings_result["hits"].each do |result| %>
	  <%= link_to listing_path(result["objectID"]) do %>
			<span class="responsive-title">
				<%= result["name"] %>
			</span>
		<% end %>
			<p class="responsive-text text-muted"><i class="fas fa-tags text-danger"></i>Bussiness Listings</p>
	<% end %>
</div>

